@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Domine:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nabla&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

/* Geral */
*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* variáveis de cores */
:root{
    --background-header: #F77F00;
    --background-main: #EAE2B7;
    --color-hover: #F77F00;
}

body{
   background-color: var(--background-main)
}

header{
    color: black;
    z-index: 1;
    position: sticky;
    top: 0;
    background: var(--background-header);
}

aside{
    height: 100%;
}

ul{
    list-style: none;
}

h2{
    color: var(--background-main);
    opacity: 0.7;
}

h4{
    color: #333;
}


a{
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover{
    color: var(--color-hover);
}

article{
    margin: 6rem 0rem;
}

li{
    margin: 1rem 0px;
}

mark, 
u{
    color: var(--color-hover);
    background-color: transparent;
}

hr{
    border: 1px solid var(--color-hover);
}


/* navbar */

#navbar{
    position: sticky;
    top: 0;
    padding: 10px 2.5rem;
    border-top: 1px solid var(--background-main);
    border-bottom: 2px solid var(--background-main);
}

.navbar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


#nav-links{
    display: flex;
    gap: 1rem;
}

li > a,
.navbar-inner > h2{
    cursor: pointer;
    color: var(--background-main);
    font-family: "Baskervville SC", serif;
    font-style: normal;
}

.navbar-inner > h2:hover{
    color: #fff;
}

li > a{
    font-size: 1.1rem;
}

li > a:hover{
    color: #fff;
    padding: 2px;
    border: 1px solid var(--background-main);
    border-top: none;
    border-bottom: none;
}
/* conteúdo principal */

.conteudo{
    color: var(--color-hover);
    width: 50%;
    font-family: sans-serif;
    font-weight: 100;
    margin: 5rem auto 0rem auto;
    text-align: center;
}

.conteudo > h1{
    font-family: "Baskervville SC", serif;
    font-weight: 700;
    font-style: normal;
}

.container{
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

#posts-container{
    flex: 3 1 0;
}

.post{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.post-artista{
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;

}

.post-artista > .tittle{
    color: var(--color-hover);
    margin: 50px auto;
}

.post-artista img{
    margin: auto;
    width: 40%;
    box-shadow: 5px 5px 10px var(--color-hover);
    border-radius: 50%;
}

.post img{
    cursor: pointer;
    width: 60%;
    margin-bottom: 1rem;
    border-radius: 20px;
    transition: 0.5s;
    /* filter: drop-shadow(1px 1px 20px yellow); */
}

.post img:hover{
    width: 70%;
    margin: 10px 1px;
    scale: 1.0;
    box-shadow: 5px 5px 10px var(--color-hover);
    filter: drop-shadow(5px 5px 10px var(--color-hover)); 
}

.tittle,
.description,
.author{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    margin-bottom: 2rem;
}

.description{
    color: #333;
}

.tittle > a{
    color: var(--color-hover);
}
.tittle{
    font-size: 2rem;
}

.author{
    font-weight: 320;
    color: var(--color-hover);
}

button{
    width: 20%;
    padding: 1rem;
    cursor: pointer;
    border-radius: 11px;
    border: 1px solid var(--color-hover);
    background-color: transparent;
}

button:hover{
    background-color: var(--color-hover);
}

.button_menos{
    display: none;
}

.description,
.description_extend{
    margin: 50px 0px;
    font-size: 1.3rem;
    width: 80%;
}

.description_extend{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    display: none;
}

/* barra lateral */

#sidebar{
    flex: 1 1 0;   
}

#search-bar,
#tags{
    padding: 1.5rem;
    border: 1px solid var(--color-hover);
    border-radius: 10px;
    margin-bottom: 1rem;
}

#search-bar h4,
#tags h4{
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}

#search-bar form{
    display: flex;
}

#search-bar input{
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
}

#search-bar input[type="submit"]{
    cursor: pointer;
    background-color: var(--color-hover);
    color: #eee;
    border: none;

}

#tags-container{
    display: flex;
     flex-wrap: wrap; /*o conteudo ira quebrar se ultrapassar o tamanho da div */
     gap: 0.5rem;
}

#tags-container a{
    background-color: #ddd;
    padding: .5rem .7rem;
    border-radius: 0.3rem;
}

/* rodapé */

#footer{
    border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center;
}

#footer h2,
#footer p{
    margin-bottom: 1rem;
}

/* responsivo */

@media(max-width: 1000px){
    header{
        position: sticky;
        top: 0;
    }
    .container{
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .tittle{
        margin: 1.5rem auto;
        font-size: 1.5rem;
        width: 80%;
    }

    .description,
    .description_extend{
        width: 100%;
        margin: 1rem auto;
    }

    button{
        margin: auto;
        width: 50%;}

    .post{
        padding: 0px;
    }

    .post img{
        width: 70%;
    }

    .post img:hover{
        width: 80%;
    }
    
    .conteudo{
        color: var(--color-hover);
        font-size: 0.7rem;
        width: 100%;
        margin: 3rem auto;
    }

    .navbar-inner{
        font-size: medium;
        justify-content: center;
    }

    .navbar-inner h2{
        display: none;
    }

    input,
    #sidebar,
    #tags-container{
    justify-content: center;
    margin: 0px auto;
}

    li{
        margin: 1rem 0rem;
    }

    #search-bar input[type="submit"]{
        background-color: var(--color-hover);
    }

    footer{
        margin: auto;
        width: 50%;
    }
}